/* Popover container */
.notification-popover {
    width: 300px; /* Set a fixed width for the popover */
    max-height: 44vh; /* Adjust the max-height as needed */
    overflow: hidden; /* Hide the overflow of the whole container */
}

/* Popover body (scrollable content area) */
.popover-body {
    max-height: 44vh; /* Adjust this as needed */
    overflow-y: auto; /* Enable scrolling for the body content */
    padding: 10px; /* Optional: Add padding */
}

.popover-body::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}
